---
import type { MDXInstance } from "astro";
import type { Post } from "../utils/types";
import Tag from "./Tag.astro";
export interface Props {
  post: MDXInstance<Post>;
}

const { post } = Astro.props;
---

<article class="card">
  <img
    src={"/Portfolio/posts/" + post.frontmatter.image.url}
    alt={post.frontmatter.image.alt}
  />
  <div class="content">
    <h3>{post.frontmatter.title}</h3>
    <small
      >{post.frontmatter.pubDate.split("T")[0]} • {post.frontmatter.readTime}min read</small
    >
    <div class="tag-group">
      {post.frontmatter.tags.sort().map((tag) => <Tag name={tag} />)}
    </div>
    <p>{post.frontmatter.description}</p>
    <a role="button" href={post.url}>Read</a>
  </div>
</article>

<style>
  small {
    color: var(--pico-muted-color);
    margin: 0 auto;
    margin-bottom: calc(var(--pico-typography-spacing-vertical) / 2);
    display: block;
  }
</style>
