---
import type { Post } from "../utils/types";
import Tag from "@components/Tag.astro";
import TOC from "@components/TOC.astro";
import NavLayout from "./NavLayout.astro";
import type { MDXLayoutProps } from "astro";
export type Props = MDXLayoutProps<Post>;
const { frontmatter, headings } = Astro.props;

function formatDate(date: Date) {
  const months = [
    "January",
    "Febuaru",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
  ];
  const day = date.getDate();
  const month = months[date.getMonth()];
  const year = date.getFullYear();

  return `${month} ${day}, ${year}`;
}
---

<NavLayout
  title={frontmatter.title}
  description={frontmatter.description}
  imgPath={"/Portfolio/posts/" + frontmatter.image.url}>
  <hgroup>
    <h1>{frontmatter.title}</h1>
    <p>
      <time datetime={frontmatter.pubDate.split("T")[0]}
        >{formatDate(new Date(frontmatter.pubDate))}</time
      > • {frontmatter.readTime}min read
    </p>
    <div class="tag-group markdown-tags">
      {frontmatter.tags.map((tag) => <Tag name={tag} />)}
    </div>
    <img
      src={"/Portfolio/posts/" + frontmatter.image.url}
      alt={frontmatter.image.alt}
    />
  </hgroup>
  <TOC headings={headings} />
  <main class="container markdown">
    <slot />
  </main>
</NavLayout>

<style>
  img {
    max-height: 300px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  hgroup > * {
    text-align: center;
    display: block;
    margin-bottom: calc(var(--pico-typography-spacing-vertical) / 2) !important;
  }
  .tag-group.markdown-tags {
    justify-content: center;
    display: flex;
  }
</style>
